@model MvcLuceneSampleApp.ViewModels.IndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>Lucene.Net ultra fast search for MVC or WebForms site => made easy!</title>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<style type="text/css">
		body {margin: 30px 100px;}
		fieldset {padding: 13px 15px; margin-bottom: 30px;border: dotted 1px silver;}
		table {border-spacing: 0;}
		table th {padding: 3px 5px; text-align: left;background: grey;color: white;}
		table td {padding: 3px 5px;}
		.add_record p {float: left;}
	</style>
</head>
<body>
	<div>
			
		<h2><a href="/">Lucene.Net ultra fast search for MVC or WebForms site => made easy!</a></h2>
		
		<h3>Simple Lucene.Net Usage Example Site</h3>
		
		<fieldset style="float: left; width: 30%;">
		  <legend>All records in database (@Html.ActionLink("Create Index [+]", "CreateIndex"))</legend> 
			<table class="grid">
				<tr>
					<th>@Html.LabelFor(m => Model.SampleData.Id)</th>
					<th>@Html.LabelFor(m => Model.SampleData.Name)</th>
					<th>@Html.LabelFor(m => Model.SampleData.Description)</th>
				</tr>
			@foreach (var record in Model.AllSampleData) {
				<tr>
					<td>@record.Id</td>
					<td>@record.Name</td>
					<td>@record.Description</td>
				</tr>
			}		
			</table>	
		</fieldset>
		
		<fieldset style="float: left; width: 30%;">
		  <legend>All records in search index (@Html.ActionLink("Clear Index [X]", "ClearIndex"))</legend> 
			@if (Model.AllSearchIndexData.Any()) {
				<table class="grid">
					<tr>
						<th>@Html.LabelFor(m => Model.SampleData.Id)</th>
						<th>@Html.LabelFor(m => Model.SampleData.Name)</th>
						<th>@Html.LabelFor(m => Model.SampleData.Description)</th>
						<th></th>
					</tr>
				@foreach (var record in Model.AllSearchIndexData) {
					<tr>
						<td>@record.Id</td>
						<td>@record.Name</td>
						<td>@record.Description</td>
						<td>@Html.ActionLink("Delete", "ClearIndexRecord", new { record.Id })</td>
					</tr>
				}		
				</table>
			} else {
				<text><br/>Index is empty.</text>
			}
		</fieldset>
		
		<fieldset style="float: left; width: 30%;">
			<legend>Messages</legend>
			<span style="color: green;">@TempData["Result"]</span>
			<span style="color: red;">@TempData["ResultFail"]</span>
		</fieldset>
		<div style="clear: both;"></div>

		<fieldset class="add_record">
			<legend>Add/Update search index record (use Id of existing one):</legend>
			@using (Html.BeginForm("AddToIndex", "Home")) {
				<p>
					@Html.LabelFor(m => m.SampleData.Id)<br/>
					@Html.EditorFor(m => m.SampleData.Id)
				</p>
				<p>
					@Html.LabelFor(m => m.SampleData.Name)<br/>
					@Html.EditorFor(m => m.SampleData.Name)
				</p>
				<p>
					@Html.LabelFor(m => m.SampleData.Description)<br/>
					@Html.EditorFor(m => m.SampleData.Description)
				</p>
				<p>
					<br/><input type="submit" value="Add/Update Record" />
				</p>
			}
		</fieldset>
		
		<fieldset>
			<legend>Search by full/partial Id, Name, or Description</legend>
			@using (Html.BeginForm("Search", "Home")) {
				@Html.TextBoxFor(m => m.SearchTerm, new { style="width:30%;" })
				@Html.DropDownListFor(m => m.SearchField,
					new List<SelectListItem> {
						new SelectListItem { Text = "(All Fields)", Value = "" },
						new SelectListItem { Text = "Id", Value = "Id"  },
						new SelectListItem { Text = "Name", Value = "Name"},
						new SelectListItem { Text = "Description", Value = "Description" },
					})

				<input type="submit" value="Search" />
			}
		</fieldset>
		
		@if (Model.SampleSearchResults.Any()) {
			<fieldset>
				<legend>Search Results</legend>
				<table class="grid">
					<tr>
						<th>@Html.LabelFor(m => Model.SampleData.Id)</th>
						<th>@Html.LabelFor(m => Model.SampleData.Name)</th>
						<th>@Html.LabelFor(m => Model.SampleData.Description)</th>
					</tr>
				@foreach (var record in Model.SampleSearchResults) {
					<tr>
						<td>@record.Id</td>
						<td>@record.Name</td>
						<td>@record.Description</td>
					</tr>
				}		
				</table>
			</fieldset>
		}
  </div>
	
	<script type="text/javascript">
		$(document).ready(function () {
			$('#SearchTerm').focus();
		  $('.grid tr:even').css("background", "silver");
		});
	</script>

</body>
</html>